# Android Studio & Gradle build outputs
*.iml
.gradle/
/build/
/captures/
.externalNativeBuild/
.cxx/

# Local properties & secrets (contains SDK path)
local.properties

# IDE specific files
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Output binaries & keystores
*.apk
*.aab
*.jks
*.keystore

# Keep Gradle Wrapper!
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
